@import url(Variables.css);

/*----MAIN----*/

/*HERO*/
.hero{
    display: flex;
    padding: 4rem 0rem 4rem 20rem;
    align-items: flex-start;
    gap: 32px;
    border-bottom: 1px solid var(--color-secundario);
}
.hero-izq{
    flex: 1;
    max-width: 50%;
}
.hero-der{
    flex: 1;
    width: 50%;
}

.hero-titulo{
    font-size: 55px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
}
.sebastian-contreras{
    font-weight: bold;
    border-bottom: 1px solid var(--color-secundario);
    letter-spacing: 3px;
}

.hero-subt-desc-contenedor{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    margin-top: 0;
    margin-bottom: 0;
}
.hero-subt{
    color: var(--color-texto-resaltado);
}
.hero-desc{
    border-left: 1.5px solid var(--color-secundario);
    padding-left: 8px;
}
.hero-desc span{
    color: var(--color-texto-resaltado);
}

.hero-info-personal {
    font-size: large;
    color: var(--color-texto-secundario);
    border-left: 1.5px solid var(--color-secundario);
    padding: 15px;
    text-align: left;
    line-height: 1.6;
}
/*HERO*/
/*HABILIDADES*/

.habilidades {
    border: 1px solid var(--color-secundario);
    border-radius: 20px;
    box-sizing: border-box;
    margin: 3rem 10rem;
    padding: 3rem 0rem;
}
.habilidades-titulo{
    text-align: center;
    font-weight: bold;
}
.lista-habilidades {
    padding: 16px 0px 0px 0px;
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 16px;
}
.habilidad {
    background-color: var(--color-secundario);
    color: var(--background-color);
    font-weight: bold;
    padding: 10px 20px; 
    border-radius: 25px;
    font-size: 1em;
    transition: box-shadow 0.2s ease-in-out;
}

/*HABILIDADES*/
.habilidad:hover{
    cursor: default;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 20);
    -webkit-transform: scale(1.1) rotate(6deg);
    -moz-transform: scale(1.1) rotate(6deg);
    -ms-transform: scale(1.1) rotate(6deg);
    -o-transform: scale(1.1) rotate(6deg);
    transform: scale(1.1) rotate(6deg);
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

