/*----VARIABLES----*/
:root{
    --background-color: #2a2e35;
    --color-texto-principal: #ffff;
    --color-texto-secundario: #B0BEC5;
    --color-texto-resaltado: #00D8FF;
    --color-secundario: #00FFAB;

    --fuente-principal: 'Noto Sans', sans-serif;

}